# Node
node_modules
npm-debug.log
yarn-error.log
package-lock.json
pnpm-debug.log

# Output
dist

# Keep environment variables out of version control
.env

# Vscode
.vscode

# Turborepo
.turbo

.DS_Store
